html{
    scroll-behavior: smooth;

}
.bg{
    background: url('/static/images/background.jpg');
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    background-size: cover;
    margin: 0;
}
.header{
    width: 100vw;
    height: 100vh;
    font-family: 'Muli', sans-serif;
    font-size: 200px;
    color:#CCE7FF;
    z-index: 999;
}

.profile{
    font-family: 'Muli', sans-serif;
    font-size: 200px;
    color:#CCE7FF;
    z-index: 999;
    padding-top: 15vh;   
    padding-left: 10%; 
}

.profile img{
    max-width: 400px; 
    max-height: 400px; 
    border: 10px solid #CCE7FF; 
    border-radius: 50%;
}

.line{

    font-family: 'Muli', sans-serif;
    font-size: 30px;
    color:#CCE7FF;
    z-index: 999;
    padding-top: 5vh;
    padding-left: 20vw !important;
}

.line img{
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
}

.email{
    font-family: 'Muli', sans-serif;
    height: 20px;
    font-size: 30px;
    color:#CCE7FF;
    z-index: 999;
    padding-top: 2vh;
    padding-left: 20vw !important;
}

.email img{
    width: 50px; 
    height: 50px; 
    border-radius: 50%;

}
.madskillz{
    height: 27.5vh;
    font-size: 30px;
    color:#CCE7FF;
    z-index: 999;
    padding-top: 35vh;
    padding-left: 5vw;
}
.skillimage{
    height: 27.5vh;
    font-size: 30px;
    color:#CCE7FF;
    z-index: 999;
    text-align: center;
    
}

.skillimage img{
    max-width: 200px; 
    max-height: 200px; 
    border: 8px solid #CCE7FF; 
    border-radius: 50%
}
.skilldesc{
    font-family: 'Muli', sans-serif;
    font-size: 25px;
    color:#CCE7FF;
    z-index: 999;
    max-width: 90%;
}

@media screen and (max-width: 700px){
    html{
        scroll-behavior: smooth;
    
    }
    .bg{
        background: url('/static/images/background.jpg');
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        position: absolute;
        background-size: cover;
        margin: 0;
    }
    .header{
        width: 100vw;
        height: 100vh;
        font-family: 'Muli', sans-serif;
        font-size: 200px;
        color:#CCE7FF;
        z-index: 999;
    }
    
    .profile{
        font-family: 'Muli', sans-serif;
        font-size: 100px;
        color:#CCE7FF;
        z-index: 999;
        padding-top: 20%;   
        padding-left: 22.5%; 
    }
    
    .profile img{
        max-width: 200px; 
        max-height: 200px; 
        border: 10px solid #CCE7FF; 
        border-radius: 50%;
    }
    
    .line{
    
        font-family: 'Muli', sans-serif;
        font-size: 15px;
        color:#CCE7FF;
        z-index: 999;
        padding-top: 1%;
        padding-left: 1%;
    }

    .line img{
        width: 25px; 
        height: 25px; 
        border-radius: 50%;
    }
    
    .email{
        font-family: 'Muli', sans-serif;
        font-size: 15px;
        color:#CCE7FF;
        z-index: 999;
        padding-top: 1%;
        padding-left: 20vw !important;
    }

    .email img{
        width: 25px; 
        height: 25px; 
        border-radius: 50%;
    }

    .madskillz{
        font-size: 30px;
        color:#CCE7FF;
        z-index: 999;
        padding-top: 20%;
        padding-left: 5vw;
        
    }
    .skillimage{
        max-height: 150px;
        color:#CCE7FF;
        z-index: 999;
        text-align: center;
        padding-left: 30%;
        
    }
    
    .skillimage img{
        max-width: 150px; 
        max-height: 150px; 
        border: 8px solid #CCE7FF; 
        border-radius: 50%
    }
    .skilldesc{
        font-family: 'Muli', sans-serif;
        font-size: 25px;
        color:#CCE7FF;
        z-index: 999;
        max-width: 100%;
        padding-left: 20%;
        
    }
}