{% extends "base.html" %}



    {% block content %}
    {% load static %}
    
    <div class="container-fluid">
    <div class="row header">
        <div class="col-md my-auto text-center">
            <p class="align-self-end" style="height: 250px">Hi!</p>
            <p style="font-size: 100px">I'm Egi</p>
        </div>
    </div>
    </div>
    {% endblock %}

