{% extends "base.html" %}

    {% block content %}
    {% load static %}
    <div class="container-fluid">
            <div class="row madskillz">
                    <div class="col-sm-2 offset-md-2 text-center">
                        <div class="row skillimage">
                            <img src="{% static 'images/Java_logo.jpg' %}">
                        </div>
                        <div class="row skilldesc">
                             <P>Basic training in Java</P>
                        </div>
                    </div>  
                    <div class="col-sm-2 offset-md-1 text-center">
                        <div class="row skillimage">
                            <img src="{% static 'images/python.png' %}">
                        </div>
                        <div class="row skilldesc">
                            <P>Basic training in Python</P>
                        </div>
                    </div>
                    <div class="col-sm-2 offset-md-1 text-center">
                        <div class="row skillimage">
                            <img src="{% static 'images/C.png' %}">
                        </div>
                        <div class="row skilldesc">
                            <P>Basic training in C</P>
                        </div>
                    </div>
                </div>
    </div>
    {% endblock %}