<html>
    <form action="" method="POST">
        {%csrf_token%}
        {{schedule}}
        <button type="submit">Submit</button>
    </form>
    <div class='all_schedule'>
    {% for sched in schedules %}
        <div class='jadwal'>
            <div class ='jadwal_info'>
                <P>title: {{ sched.nama_kegiatan }}</P>
                <P>kategori: {{ sched.kategori }}</P>
                <P>tempat: {{ sched.tempat }}</P>
                <P>tanggal: {{ sched.waktu }}</P>
                <P>jam: {{ sched.jam }}</P>
            </div>
            <a href="{% url 'homepage:schedule_delete' id=sched.id %}"><button>delete</button></a> 
        </div>
    {% endfor %}
    </div>
    
</html>